<header>
  <div class="container-fluid header">
    <div class="row">
      <div class="col-sm-12 col-md-12 no-pl-pr">
        <img class="img-fluid mt-3 img-header" src="../assets/images/banner.png" alt="banner de marvel">
      </div>
    </div>
  </div>
  <div class="container-fluid header menu-header">
    <div class="container menu">
      <nav class="navbar navbar-expand-lg navbar-light no-pt-pb">
        <a class="navbar-brand" href=""><img class="logo" src="../assets/images/marvel.png" alt="icono marvel"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
            <a routerLink="" class="nav-link nav-menu">Home</a>
            </li>
            <li class="nav-item">
            <a routerLink="comics" class="nav-link nav-menu">Comics</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>